/*  your css code here. If applicable */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: sans-serif;
}

body{
    overflow-y: scroll;
    height: 100vh;
    
}
body::-webkit-scrollbar{
    display: none;
}

header{
    box-sizing: border-box;
    width:100vw;
    height: 15vh;

    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    background-color: #011e29;

    text-transform: capitalize;
}

main{
    height: 100vh;
    display: grid;
    grid-template-columns: 1.5fr 2.5fr 1fr;

    box-sizing: border-box;

    padding-top: 2%;
    padding-inline: 1%;

    column-gap: 1%;

    background-color: #d0d0d0;

    >section{
        height: fit-content;
        background-color: white;

        padding: 10% 3% 5% 3%;

        border-radius: 10px;
    }

    >section >h2{
        text-transform: capitalize;
        text-align: center;

        margin-bottom: 3%;
    }

    .latest-news-section{
        >ul{
            list-style-position: inside;
            padding-left: 10%;
        }
    }

    .main-article{
        >p{
            text-align: center;
        }
    }

    .pictorial-news > img{
        width: 100%;
        object-fit: contain;
    }
}
